header{
    text-align: center;
    color: white;
    background-color: darkblue;
    padding:1%;
}
form{
    display: flex;
    margin:1%;
    flex-direction: row;
    justify-content: center;
    width: auto;
}