header{
    text-align: center;
    color: white;
    background-color: darkblue;
    padding:1%;
}

ul{
    list-style: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction:row;
}
li{
    margin:1%;
}